*{
    box-sizing: border-box;
    padding : 0;
    margin: 0;

}

.header{
    min-height: 60vh;
    background : url("./bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

a{
    color: white;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.headline{
    position: absolute;
    top:50%;
    left: 50%;
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;

}

.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}
.todo-section{
    margin-top: 5rem;
    text-align: center;

}

.form-todo{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}

.form-todo input{
    min-height: 100%;
}
.form-todo input[type="text"]{
    width: 78%;
    padding: 0.8px;
    font-size: 1rem;
    font-weight: 400;
}
.form-todo input[type="submit"]{
    width: 20%;
    background: grey;
    color: white;
    font-weight: bold;
}

.section-signup{
    margin-top: 5rem;
    text-align: center;
    background: rgb(172, 169, 169);
}
.signup-form label{
    display: block;
}
.signup-form input{
    display: block;
}
.signup-form {
    display: block;
}



